<h1>List of all your articles</h1>
<p>Search for an article:</p>
<%= search_form_for @q do |f| %>
<div>
    <div class= "d-inline-block">
      <%= f.search_field :title_cont, class: "form-control", placeholder: "Title of your article" %><br>
      <%= f.search_field :body_cont, class: "form-control", placeholder: "Some content in article" %>
      </div>
      <%= f.submit %>
</div><br><br>
<% end %>

<h2>Public Articles</h2>
<% @articles.each do |article| %>
    <% if article.public? %>
        <%= link_to article.title, article_path(article) %><hr>
    <% end %>
<% end %>
<br><br>

<h2>Private Articles</h2>
<% @articles.each do |article| %>
    <% if article.private? %>
        <%= link_to article.title, article_path(article) %><hr>
    <% end %>
<% end %>
<br>

<div class="btn-group">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Archived Articles
  </button>
  <ul class="dropdown-menu">
    <% @articles.each do |article| %>
        <% if article.archived? %>
            <li><%= link_to article.title, article_path(article), class: "dropdown-item" %></li>
        <% end %>
    <% end %>
  </ul>
</div><br><br><br>
   
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
<%= link_to 'New Article', new_article_path, class: "btn btn-primary" %><br><br><br>
<%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>