<h1><%= @article.title %></h1>
<hr>
<p><%= @article.body %></p><br>
<% if current_user.id == @main_user %>
    <%= link_to 'Edit', edit_article_path, class: "btn btn-primary" %>
    <%= link_to 'Delete', article_path(@article), data: {turbo_method: :delete}, class: "btn btn-danger" %><br><br>
<% end %>
<%= link_to 'Your list of articles', articles_path, class: "btn btn-info" %>
<%= link_to 'Back', root_path, class: "btn btn-primary" %><br><br>
<%# Showing comments %>
<%= render 'comments/comment' %>
<%# Adding comments %>
<h2>Add comment</h2>
<%= render 'comments/form' %>
