<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <% form.label :user_id %><br>
    <% form.number_field :user_id, value: "current_user.id", id: :article_user_id, type: :hidden %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
